.App {
    text-align: center;
  }
  .tabla{
    width:100%;
    max-width: 700px;
    margin:auto ;
    margin-top: 40px;
    position:relative;
    backdrop-filter: blur(10px);
    background-color:#FFCC8F;
    color: black;
    padding: 20px 50px;
    transition: all 500ms;
    text-align: center;
    float: center;
  }
  table{
    margin:auto ;
    margin-right: 20px;
    margin-top:-50px;
    
  }


  


  