.App {
    text-align: center;
  }
  .tabla{
    width:50em;
    max-width: 50em;
    margin:auto ;
    margin-top: 80px;
    position:relative;
    backdrop-filter: blur(20px);
    background-color:#52975f;
    color: rgb(16, 16, 16);
    padding: 20px 50px;
    transition: all 500ms;
    text-align: center;
    float: center;
  }
  table{
    margin:auto ;
    margin-right: 20px;
    margin-top:-50px;
    
  }


  


  